{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
{% if notFind == True %}
<div class="row">
	<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    متاسفانه موردی یافت نشد
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-md-12">
{% for product in products %}
    <div class="col-sm-6 col-md-4">
				<div class="thumbnail" >
					<h4 class="text-center"><span class="label label-info">{{product.Name}}</span></h4>
					<div class="container1">
					<img {% if product.Stock == 0 %} style="filter: grayscale(100%);" {% endif %} src="http://localhost:8009/static/defaultFood.png" class="image img-responsive product-image">
						{% if product.Stock == 0 %} <div class="overlay">
    <div class="text">اتمام موجودی <br/> فقط میتوانید پیش سفارش دهید</div>
  </div>{% endif %}

					</div>
					<div class="caption">
						<div class="row">
							<div class="col-md-6 col-xs-6">
								<h3>{{ product.Price }} تومان</h3>
							</div>
							<div class="col-md-6 col-xs-6 price">
								<h3>
								<label></label></h3>
							</div>
						</div>
						<p>تعداد : {{ product.Stock }}</p>
						<div class="row">
							<div class="col-md-6">
								{% if product.Stock == 0 %}
								<a href="http://localhost:8009/preorder/{{ product.id }}/" class="btn btn-danger btn-product"><i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i>  پیش سفارش</a></div>
								{% else %}
								<a href="http://localhost:8009/addtobasket/{{ product.id }}/" class="btn btn-success btn-product"><i class="fa fa-shopping-basket fa-lg" aria-hidden="true"></i>  اضافه به سبد خرید</a></div>
								{% endif %}
                        </div>
						   <div class="row">
						      <div class="col-md-6">
								<a href="http://localhost:8009/showdetail/{{ product.id }}/" class="btn btn-info btn-product"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>  توضیحات ببشتر  </a></div>
                        </div>

						<p> </p>
					</div>
				</div>
			</div>
{% endfor %}
  </div>
</div>



{% endblock %}



{% block footer %}

<script >
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}
</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}
