{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
{% if message  %}
<div class="row">
	<div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">{{message}}</a>
  </div>
</div>
{% endif %}


<div class="nav-side-menu">
    <div class="brand">فهرست</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a onclick="showcard('1')">
                  <i class="fa fa-plus-square-o fa-lg"></i>اضافه کردن کالا
                  </a>
                </li>


                <li>
                  <a onclick="showcard('2')">
                  <i class="fa fa-list-alt fa-lg"></i> سفارش های ثبت شده
                  </a>
                </li>

                <li>
                  <a onclick="showcard('3')">
                  <i class="fa fa-archive fa-lg"></i> پیش سفارش های ثبت شده
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>


                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>


                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            </ul>
     </div>
</div>

<div class="col-md-8 col-md-offset-3" id="1" style="display: none;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">اضافه کردن کالا</h3>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" method="POST" action="{% url 'addproduct' %}">
            {% csrf_token %}
            <input type="hidden" name="requestcode" value="True" />
            <input type="hidden" name="next" value="{{ next }}" />
            <div class="form-group">
              <label for="productname" class="col-sm-3 control-label" >نام کالا :</label>
              <div class="col-sm-9">
                <input type="text" name="productname"  size="10" required id="id_productname" >
              </div>
            </div>

            <div class="form-group">
              <label for="category" class="col-sm-3 control-label" >نوع محصول</label>
              <div class="col-sm-9">
               <select name="category">
                   {% for cat in categories %}
                   <option value='{{cat.Name}}'>{{cat.Name}}</option>
                   {% endfor %}
               </select>
              </div>
            </div>

            <div class="form-group">
              <label for="price" class="col-sm-3 control-label" >قیمت به تومان :</label>
              <div class="col-sm-9">
                <input type="number" name="price"  size="10" required id="id_price" >
              </div>
            </div>


            <div class="form-group">
              <label for="stock" class="col-sm-3 control-label" >تعداد موجودی :</label>
              <div class="col-sm-9">
                <input type="number" name="stock"  size="10" required id="id_stock" >
              </div>
            </div>


            <div class="form-group">
              <label for="detail" class="col-sm-3 control-label" >توضیحات :</label>
              <div class="col-sm-9">
                <textarea name="detail" cols="40" rows="5"  maxlength="100" id="id_detail"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">ایجاد محصول جدید</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>


<div class="col-md-6 col-md-offset-3" id="2" style="display: none;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"> سفارشات</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
        <thead>
            <tr>
        <th>سبد کالا</th>
        <th>قیمت</th>
        <th>سفارش دهنده</th>
        <th>وضعیت</th>
            </tr>
        </thead>
    <tbody>
{% for order in orders %}
<tr>
    <td> {% for product in order.Basket.ProductList.all %}
    {{ product}} <br/> {% endfor %}</td>
    <td> {{order.TotalPrice}} </td>
    <td> {{order.User}} </td>
    <form class="form-horizontal" method="POST" action="{% url 'submitedorder' %}">
            {% csrf_token %}
    <td> <select name="{{order.id}}">
        <option value="ثبت سفارش" {% if order.Status == 'ثبت سفارش' %} selected {% endif %} > ثبت سفارش</option>
        <option value="آماده سازی برای ارسال"  {% if order.Status == 'آماده سازی برای ارسال' %} selected {% endif %}> آماده سازی برای ارسال</option>
        <option value="تحویل پست"  {% if order.Status == 'تحویل پست' %} selected {% endif %}>تحویل پست</option>
    </select> </td>
        <td><button type="submit" class="btn btn-default">تغییر وضعیت </button></td>
    </form>
</tr>
{% endfor %}
    </tbody>
      </table>
        </div>
      </div>
    </div>



<div class="col-md-6 col-md-offset-3" id="3" style="display: none;">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">پیش سفارشات</h3>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
        <thead>
            <tr>
        <th> کالا</th>
        <th>قیمت</th>
                <th>تعداد</th>
                <th> تاریخ </th>
        <th>سفارش دهنده</th>
        <th>وضعیت</th>
            </tr>
        </thead>
    <tbody>
{% for order in preorders %}
<tr>
    <td> {{order.product}}</td>
    <td> {{order.TotalPrice}} </td>
     <td> {{order.Quantity}}</td>
     <td> {{order.Date}}</td>
    <td> {{order.User}} </td>
    <form class="form-horizontal" method="POST" action="{% url 'submitedpreorder' %}">
            {% csrf_token %}
    <td> <select name="{{order.id}}">
        <option value="در حال بررسی" {% if order.Status == 'در حال بررسی' %} selected {% endif %} > در حال بررسی</option>
        <option value="تایید ارسال در تاریخ مورد نظر"  {% if order.Status == 'تایید ارسال در تاریخ مورد نظر' %} selected {% endif %}> تایید ارسال در تاریخ مورد نظر</option>
        <option value="تحویل پست"  {% if order.Status == 'تحویل پست' %} selected {% endif %}>تحویل پست</option>
    </select> </td>
        <td><button type="submit" class="btn btn-default">تغییر وضعیت </button></td>
    </form>
</tr>
{% endfor %}
    </tbody>
      </table>
        </div>
      </div>
    </div>

{% endblock %}

{% block title %}
{% endblock %}

{% block footer %}

<script >
$(document).ready(function () {
        $(".subtaskinput").fadeOut(0);
        $('.fa-square-o').hover(function () {
            $(this).addClass('fa-check-square-o');
            $(this).removeClass('fa-square-o');
        }, function () {
            $(this).addClass('fa-square-o');
            $(this).removeClass('fa-check-square-o');
        });

});

function showsubtaskinput(elementid){
  if ($('.btn-'+elementid).text() == '+') {
    $('.subtask-'+elementid).fadeIn(250);
    $('.subtask-'+elementid).focus();
    $('.btn-'+elementid).text ('-');
  }
  else {
    $('.subtask-'+elementid).fadeOut(250);
    $('.btn-'+elementid).text ('+');
  }
  // دگمه رو عوض کنیم به منفی و اگر منفی رو زد المنت رو حذف کنیم
  return 0;
}

function showcard(elementid) {
    for (i = 1; i < 3; i++) {
        document.getElementById(i.toString()).style.display = "none";
    }
    document.getElementById(elementid).style.display = "block";
    document.getElementById(elementid).style.visibility = "visible";

}
</script>

<script type="text/javascript">
$(".alert").fadeTo(10000, 500).slideUp(500, function(){
    $(".alert").slideUp(10000);
});
</script>
{% endblock %}
