{% extends "template.html"%}
{% load staticfiles %}

{% block content %}
	
	<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">توضیحات</h3>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" method="POST" action="{% url 'add_comment' %}">
          {% csrf_token %}
          <input type="hidden" name="dologin" value="true" />
          <input type="hidden" name="next" value="{{ next }}" />
             <input type="hidden" name="product_id" value="{{ product.id }}" />

                <table class="table table-hover table-condensed">
        <thead>
            <tr>
        <th>نام کالا</th>
        <th>{{product.Name}}</th>
            </tr>
        </thead>
    <tbody>
<tr>
    <td> دسته</td>
    <td> {{product.Category.Name}}</td>
</tr>
<tr>
    <td> موجودی</td>
    <td> {{product.Stock}}</td>
</tr>

    <tr>
        <td> قیمت</td>
        <td> {{product.Price}} </td>
    </tr>

<tr>
        <td> توضیحات</td>
        <td> {{product.Detail}} </td>
    </tr>

    </tbody>
      </table>

          		{% for cur in comments %}
          			    <div class="col-sm-8">
                            <div class="panel panel-white post panel-shadow">
                <div class="post-heading">
                    <div class="pull-right meta">
                        <div class="title h5">
                            <a href="#"><b>{{ cur.Author.username }}</b></a>

                        </div>
                        <h6 class="text-muted time">{{ cur.CreationDate }}</h6>
                    </div>
                </div>
                <div class="post-description">
                    <p>{{ cur.Text }}</p>

                </div>
            </div>
        </div>
          		{% endfor %}


    <div class="form-group">
        <textarea class="form-control" id="textcomment" rows="3" name="comment_text" placeholder="نظر شما . . ."></textarea>
        <input id="submit" name="submit" type="submit" value="ارسال نظر" class="btn btn-primary">
    </div>
        </form>
        
      </div>
    </div>

  </div>
</div>
	

{% endblock %}